language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script:
  - composer self-update
  - composer install --prefer-dist

script:
 - phpunit --coverage-clover=coverage.clover --configuration ./phpunit.xml.dist ./tests

after_script:
 - wget https://scrutinizer-ci.com/ocular.phar
 - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

matrix:
  allow_failures:
    - php: 7.0

notifications:
  slack: vox-tecnologia:gMLOjny60q2cyfsdRe4dVkLO
