language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_install:
  - composer install --dev

script:
 - phpunit --coverage-clover=coverage.clover --configuration ./phpunit.xml ./tests

after_script:
 - wget https://scrutinizer-ci.com/ocular.phar
 - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
