language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script:
  - composer self-update
  - composer install --prefer-dist

script:
 - phpunit --coverage-clover build/logs/clover.xml --configuration ./phpunit.xml.dist ./tests
 
after_script:
 - php bin/codacycoverage clover build/logs/clover.xml
